<%- include("header") -%>


    <h1 style="color: purple;" >About ME </h1>
    
       <p style="color: rgb(104, 18, 9);"> <b>Hey guys!!! I am Alisha Chauhan , a student and learning Web-dev.</b></p>
    <hr >
       <p style="color: rgb(104, 25, 16);">Use this to do list website for ur daily use :)
    
    </p>



 <%- include("footer") -%>